---
Checks: '
bugprone-*,
modernize-use-nullptr,
modernize-use-override,
cppcoreguidelines-*
-cppcoreguidelines-avoid-magic-numbers
'
WarningsAsErrors: ''
# Match source and colcon-installed copies of our headers. Do not use /rtest/
# alone: the workspace path is .../rtest/, which would include .pixi/envs.
HeaderFilterRegex: '(rtest/include/|examples/)'